body {
  background-image:
  url('my3img.jpg');
  
}
#cv-form {
  background-image:
  url('my4img.jpg');
  background-size:auto;

  /* display: none; */
  /* margin-top: 10px; */
}
#cv-template {
  display: none;
}
.myimg {
  /* border: 1px solid red; */
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

table,td{
  border: 1px solid black;
  padding-inline-start: 0ch ;

}
.background1 {
 
  background-color: #154d65;
}
.background2 {
  background-color: rgb(242 242 246);
}

.background3 {
  background-color: #ceeae6;
}
.background4 {
 
  background-color: #f5f0e1;
}
.background5{
  background-color: rgb(211, 218, 218);
  
}
.button{

  background-color: #33b854;
  color:#f8f3f3;
}

#nameT1{
  color: #f5f0e1;
  font-size:25px;
  text-transform:uppercase;
  text-align:center;
}
#contactT{
  color: #f5f0e1;
  font-size:20px;
  text-align:center;
}
#addressT{
  color: #f5f0e1;
  font-size:20px;
  text-align:center;
}
